* {
  font-weight: 200;
}

table {
  width: 100%;
}

tr:hover td {
  background-color #eee;
}

.sortable {
  cursor: pointer;
}

.sorted {
  background-color: #ccc;
}

.hide-inactive .servicedown,
.hide-inactive .byebye {
  display: none;
}

header {
  padding: 1em;
}

h1 {
  color: #666;
}

h1 > span {
  color: #000;
}

.panel > * {
  display: inline-block;
  vertical-align: middle;
}

.filters {
  margin: 1em;
}

.buttons {
  padding-left: 3em;
}

.pure-table td {
  background-color: rgba(0, 255, 0, 0.1);
}

.servicedown td,
.byebye td {
  background-color: rgba(255, 0, 0, 0.1);
}

.dancer {
  margin-left: -2em;
  height: 8em;
}

.disco {
  margin-top: -15em;
  height: 5em;
  transition: margin-top 0.3s ease-in-out;
}

.is-scanning .disco {
  margin-top: -6em;
}

.trans-col {
  transition: color 1s ease-in-out;
}

.is-scanning .d { color: #F00; }
.is-scanning .i { color: #0F0; }
.is-scanning .s { color: #00F; }
.is-scanning .c { color: #0FF; }
.is-scanning .o { color: #F00; }
